
<div class="container">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef>Mes</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.month }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total de ventas</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.total | currency }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
